@tailwind base;
@tailwind components;
@tailwind utilities;



.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: Arial, sans-serif;

  

}
.container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  padding: 10px;
  margin-left: 650px;
  margin-right: 650px;
  background-color: #d1cfcf;
  box-shadow: 0px 0px 15px #000;
}
.container3 {
  
  
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fffefe;
  box-shadow: 0px 0px 3px #000;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.left img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px #000;
}

img {
  box-shadow: 0px 0px 10px #000;
  
}


.left h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.left p {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
}

.right form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.right label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.right select {
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px #000;
  cursor: pointer;
}

.right textarea {
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px #000;
}

.right button {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #0077ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000;
  cursor: pointer;
}

.right button:hover {
  background-color: #0051a8;
}

.user-rating-box {
  padding: 10px;
  margin-top: 20px;

  box-shadow: 0px 0px 3px #000;
}
.boxthem {
  box-shadow: 0px 0px 3px #000;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.user-details label {
  margin-bottom: 10px;
}

.user-details input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 16px;
}

.user-details input:focus {
  outline: none;
  border-color: #4b6cb7;
}





